{
    "parser": "babel-eslint",
    "extends": [
      "standard",
      "prettier",
      "prettier/babel",
      "prettier/standard"
    ],
    "plugins": [
      "babel",
      "prettier"
    ],
    "parserOptions": {
      "sourceType": "module",
      "ecmaFeatures": {
        "legacyDecorators": true
      }
    },
    "env": {
      "es6": true,
      "node": true
    },
    "rules": {
      "prettier/prettier": "warn",
      "no-useless-constructor": "off",
      "no-unused-vars": "warn",
      "no-extra-boolean-cast": "off",
      "camelcase": "off",
      "import/no-absolute-path": "off",
      "prefer-const": "off",
      "no-useless-computed-key": "off",
      "no-useless-return": "off",
      "import/first": "off",
      "no-return-await": "off"
    },
    "globals": {
      "__DEV__": true
    }
  }